/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.img-responsive {
    max-width: 100%;
    max-height: auto;
    /* align-content: center; */
}

.map-status {
    width: 600px;
    height: 400px;
    /* border: 3px solid #73AD21; */
}

.voffset  {
    margin-top: 20px;
}

.vertical-center {
    display: flex;
    align-items: center;
}