<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bleepr Management Portal - Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/analytics.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Bleepr Management Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <h1 class="page-header">Analytics</h1>
      </div>

      <div class="row">
        <h3>Heatmap</h3>
      </div>
      <div class="row voffset vertical-center">
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/heatmap.png">
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-justify">
            The heatmap gives you an insight in the "hot" zones in
            your restoration areas. It is calculated over a period of
            a month and represents the distribution of orders
            dependent on the tables. An even distribution - that is, a
            flat heatmap - means that costumers don't have preferences
            when choosing tables and this facilitates a good flow
            within the restaurant.
            <br> <br>
            The following table contains data about the most popular
            tables in the past month.
          </p>
          <div class="table-responsive">
            <table class="table table-striped centered">
              <thead>
                <tr >
                  <th class="text-center">Position</th>
                  <th class="text-center">id</th>
                  <th class="text-center"># of orders</th>
                  <th class="text-center"># of orders (A month ago)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1st</td>
                  <td class="text-center">45</td>
                  <td class="text-center">123</td>
                  <td class="text-center">110</td>
                </tr>
                <tr>
                  <td class="text-center">2nd</td>
                  <td class="text-center">47</td>
                  <td class="text-center">98</td>
                  <td class="text-center">87</td>
                </tr>
                <tr>
                  <td class="text-center">3rd</td>
                  <td class="text-center">50</td>
                  <td class="text-center">32</td>
                  <td class="text-center">68</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <h3>Orders history</h3>
      </div>
      <div class="row voffset vertical-center">
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/ord_hist.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/ord_hist_morn.png">
          </div>
        </div>
      </div>
      <div class="row vertical-center">
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/ord_hist_after.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/ord_hist_even.png">
          </div>
        </div>
      </div>

      <div class="row">
        <h3>Happiness</h3>
      </div>
      <div class="row voffset vertical-center">
        <div class="col-md-6">
          <div class="thumbnail center-block">
            <img class="img-responsive" src ="/static/happ.png">
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-justify">
            Your Bleeprs can provide you great amount of information
            about the experience you provide to your costumers. Each
            Bleepr asks for feedback at the end of the booked session;
            data is collected and analysed automatically to provide an
            estimate of the future average happiness.
          </p>
          <br>
          <h3 class="text-center">
            Predicted average happiness value for this week.
          </h3>
          <div class="row voffset vertical-center">
            <div class="col-md-6">
              <img class="img-responsive" src ="/static/happy_face.png">
            </div>
            <div class="col-md-6">
              <center><h3>Confidence score: <b><font color="#8BC34A">~78%.</font></b></h3></center>
            </div>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../static/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/bootstrap/js/vendor/holder.min.js"></script>
  </body>
</html>
