<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bleepr Management Portal - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Bleepr Management Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% if request.args.get('not_admin_settings') %}
        <br>
        <div class="alert alert-danger text-center" role="alert">
          <strong>Oh snap!</strong> You are not allowed to access the
          settings for this Bleepr Management Portal.
        </div>
        {% endif %}
        {% if request.args.get('not_admin_analytics') %}
        <br>
        <div class="alert alert-danger text-center" role="alert">
          <strong>Oh snap!</strong> You are not allowed to access the
          analytics for this Bleepr Management Portal.
        </div>
        {% endif %}
        <h1 class="page-header">Overview</h1>
      </div>

      <div class="row">
        <img class="img-responsive center-block" src ="/static/status.png">
      </div>
      <div class="row">
        <h2 class="sub-header">Bleeprs Status</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                {% for datum in table_data[0] %}
                <th>{{datum}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i in range(table_data[1]|count) %}
              <tr>
                {% for j in range(table_data[0]|count) %}
                <td>{{ table_data[j+1][i] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../static/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/bootstrap/js/vendor/holder.min.js"></script>
  </body>
</html>
