<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bleepr Management Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/settings.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Bleepr Management Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <form action="/settings/add_user" method="post">
          <h3 class="form-signin-heading">Add a user</h3>
          <label for="username" class="sr-only">Email address</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Email address" required autofocus>
          <label for="password" class="sr-only">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Add user</button>
        </form>

        <form action="/settings/export_data" method="post">
          <h3 class="form-signin-heading">Export available data</h3>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Export data</button>
        </form>
      </div>

      <div class="row">
        <h2 class="sub-header">Bleeprs Status</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                {% for datum in table_data[0] %}
                <th>{{datum}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i in range(table_data[0]|count - 1) %}
              <tr>
                {% for j in range(table_data[0]|count) %}
                <td>{{ table_data[j+1][i] }}</td>
                {% endfor %}
                <td><button class="btn btn-danger" type="submit">Remove</button></td>
              </tr>
              {% endfor %}
              <tr>
                <form action="/settings/add_user" method="post">
                  <h3 class="form-signin-heading">Add a user</h3>
                  <td>
                    <label for="id" class="sr-only">id</label>
                    <input type="text" name="id" id="id" class="form-control" placeholder="id" required autofocus>
                  </td>
                  <td>
                    <label for="table" class="sr-only">table</label>
                    <input type="text" name="table" id="table" class="form-control" placeholder="table" required autofocus>
                  </td>
                  <td>
                    <label for="active" class="sr-only">active</label>
                    <input type="text" name="active" id="active" class="form-control" placeholder="active" required autofocus>
                  </td>
                  <td>
                    <label for="action" class="sr-only">action</label>
                    <input type="text" name="action" id="action" class="form-control" placeholder="action" required autofocus>
                  </td>
                  <td>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="../static/bootstrap/js/bootstrap.min.js"></script>
      <script src="../static/bootstrap/js/vendor/holder.min.js"></script>
  </body>
</html>
